<div class="col-md-4 col-md-offset-2">
    <h2>User show data</h2>
    <p>
        <label>First Name: </label>
        <strong>{{first_name}}</strong><br>
    </p>
    <p>
        <label>Last Name: </label>
        <strong>{{last_name}}</strong><br>
    </p>
    <p>
        <label>Email: </label>
        <strong>{{email}}</strong><br>
    </p>
    <p>
        <label>Register Date: </label>
        <strong>{{date_register}}</strong><br>
    </p>
    <p>
        <label>Created Date: </label>
        <strong>{{createdAt}}</strong><br>
    </p>
    <p>
        <label>Updated Date: </label>
        <strong>{{updatedAt}}</strong>
    </p>
</div>
<div class="col-md-4">
    <img src="/{{photo}}" alt="{{first_name}} {{last_name}}" class="img-responsive">
</div>
<br />
<a href="/users">Users</a>
