extends ../layout

// user
block content
    h1= title
    p Welcome to #{title}

    if action !== 'add'
        form(id="userf_delete" action="/user/#{user.id}" method="POST")

    form(id="userf" action="/user/#{action}" method="#{method}")
        l name:
        input(type="text" name="fname" placeholder="your name" value="#{user.fname || ''}")
        br
        l surname:
        input(type="text" name="lname" placeholder="your surname" value="#{user.lname || ''}")
        br
    button(type="submit", form="userf") save

    if action !== 'add'
            button(type="submit" form="userf_delete") delete

    p: a(href="/users") list
